@import 'mapbox-gl/dist/mapbox-gl.css';
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css';

.map-container {
    background-color: black;
    height: 100vh;
    position: relative;
    right: 0px;
    top: 0px;
    width: 100vw;
}