<section
  class="h-full flex items-center justify-center"
  [ngClass]="isDarkmode ? 'image-son' : 'image-sunny'"
>
  <div class="text-black dark:text-slate-300 w-2/3 mb-72">
    <p class="font-mono text-xl xl:text-3xl" [translate]=" 'home.title' "></p>
    <div class="wrapper">
      <div class="typing text-2xl xl:text-5xl"  [translate]=" 'home.subtitle' "></div>
    </div>
  </div>
</section>

<svg class="animate-bounce arrows stroke-amber-600 dark:stroke-teal-700">
    <path class="a1" d="M0 0 L30 32 L60 0"></path>
    <path class="a2" d="M0 20 L30 52 L60 20"></path>
    <path class="a3" d="M0 40 L30 72 L60 40"></path>
  </svg>
