@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.image-son {
    background-image: url(./../../../../../assets//luna.jpg);
}

.image-sunny {
    background-image: url(./../../../../../assets//boats-gfad6890be_1920.jpg);
}

.arrows {
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
    fill: transparent;	
}

.name {
  font-family: 'Kaushan Script', cursive;
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 0.8s infinite linear;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  50% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  100% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  50% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  100% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
}