<section class="h-2/3 grid grid-rows-1 bg-white dark:bg-neutral-900">
    <div class="flex flex-col justify-center text-black dark:text-slate-300">
      <p class="text-center xl:text-3xl">
        Encuentrame
      </p>
      <div class="grid grid-rows-1 xl:grid-cols-2 items-center justify-items-center">
        <img
        src="../../../../../assets/github-svg.svg"
        alt="Link github"
        width="10%"
        height="10%"
        />
        
        <img
        src="../../../../../assets/gitlab-svg.svg"
        class="text-white"
        alt="Link github"
        width="10%"
        height="10%"
        />
        
      </div>
    </div>
  </section>
  