<section class="h-1/2 grid grid-rows-1 xl:grid-cols-2 px-0 lg:px-32 pt-0 lg:pt-20 pb-10 bg-zinc-50 dark:bg-gray-900">
  <div class="flex flex-col justify-center text-black dark:text-slate-300 bg-zinc-100 dark:bg-gray-800 rounded-md p-10">
    <p class="text-2xl xl:text-3xl  font-bold" [translate]=" 'about.name' "></p>
    <p class="text-lg justify-start text-justify mt-5" [translate]=" 'about.history' "></p>
  </div>

  <div class="flex text-center bg-white dark:bg-gray-900  items-center justify-center order-first lg:order-last">
    <p class="text-5xl xl:text-9xl uppercase p-10 justify-start text-gray-500 about" [translate]=" 'about.title' "></p>
  </div>
</section>