<section class="h-max grid grid-rows-1 xl:grid-cols-2">
  <div class="flex flex-col justify-center text-black dark:text-slate-300 bg-zinc-50 dark:bg-gray-900">

    <p class="text-xl xl:text-2xl uppercase p-10 justify-start text-gray-500" [translate]=" 'about.title' "></p>
    <p class="text-2xl xl:text-4xl justify-start indent-10 font-bold" [translate]=" 'about.name' "></p>
    <p class="text-sm xl:text-lg indent-8 justify-start p-10" [translate]=" 'about.history' "></p>
  </div>

  <div class="flex flex-auto justify-center bg-white dark:bg-gray-900">
    <img
      src="../../../assets/coding-amico.png"
      alt="Arrows"
      class="w-3/4 items-center content-center object-center justify-center"
    />
  </div>
</section>
